.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgb(220,220,220);
  z-index: 100;

}

.left-sec{
  display: flex;
  align-items: center;
}
.icon-hamburger{
  height: 20px;
  margin-right: 24px;
  margin-left: 24px ;
}
.icon-youtube{
  height: 20px;

}


.middle-sec{
  display: flex;
  align-items: center;
  vertical-align: center;
  max-width: 470px;
  margin-left: 60px;
  flex:1;
}
.search-box{
  background: rgba(255,255,255,0.4);
  flex:1;
  width: 0;
  min-width: 0;
  padding-left: 11px;
  height: 36px;
  font-size: 15px;
  border: 1px solid rgb(192,192,192);
  border-bottom-left-radius:2px;
  border-top-left-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.search-box::placeholder{
  color: rgb(0,0,0);
  font-size: 16px;
}
.search-box:focus{
  outline:none;
  border:1px solid cornflowerblue;
  z-index: 1;
}
.button-search{
  height: 40px;
  width: 65px;
  background-color: rgb(240,240,240);
  border: 1px solid rgb(192,192,192);
  margin-left: -1px;
}
.button-mic{
  height: 40px;
  width: 40px;
  border-radius:20px;
  margin-left: 10px;
  border:none;
}

.icon-search{
  width:20px;
}
.icon-mic{
  width: 20px;
  object-fit: contain;
}

.right-sec{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.icon-upload,.icon-more{
  height: 26px;
}
.icon-notify{
  height: 30px;
  margin-top: 6px;
}
.icon-current-profile{
  border-radius: 15px;
  height: 30px;
}
.icon-notify-container{
  position: relative;
}
.notify-counter{
  position: absolute;
  top:8px;
  right: 1px;
  background-color: #d22020;
  color:white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 12px;

}

.button-search,.button-mic,
.icon-upload-div,.icon-more-div,.icon-notify-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.button-search .tooltip,
.button-mic .tooltip,
.icon-upload-div .tooltip,
.icon-more-div .tooltip,
.icon-notify-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding:4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.button-search .tooltip,
.button-mic .tooltip{
  bottom: -31px;
}
.icon-upload-div .tooltip,
.icon-more-div .tooltip{
  bottom: -36px;
}
.icon-notify-container .tooltip{
  bottom: -31px;
}
.button-search:hover .tooltip,
.button-mic:hover .tooltip,
.icon-upload-div:hover .tooltip,
.icon-more-div:hover .tooltip,
.icon-notify-container:hover .tooltip{
  opacity: 1;
}



