body{
  margin-left: 100px;
  margin-top: 100px;
  font-family: "Comfortaa", serif;
}

.container{
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: mediumpurple;
  padding:12px 12px;
  color: white;
}
.Home{
  font-weight: bold;
}
.button{
  margin-left:10px;
}
.search-box{
  width: 500px;
  border:none;
  height: 28px;
  border-radius: 15px;
  padding-left: 20px;
}
.button{
  border:1px white solid;
  padding: 6px 13px;
  background-color: mediumpurple;
  color: white;

}
