body{
  font-family: "Kode Mono",monospace;
  padding-top: 200px;
  height: 3000px;
  padding-left: 500px;
  background-color: black;

}
.header{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: 1px dotted lightgray;
  backdrop-filter: blur(8px);
}

.container{
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
.profile-picture{
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
.name{
  color: aquamarine;
  margin-left: 10px;
  flex: 1;
  font-size: 20px;
}
.button{
  margin-right: 8px;

}
.addFriend,.Message{
  height: 48px;
  width: 140px;
  color: white;
  background-color: #3382fc;
  font-family: "Kode Mono", monospace;
  font-size: 16px;
  border: none;
  border-radius: 7px;

}
.Message{
  background-color: lightgray;
  color: black;
}

.sidebar{
  position: fixed;
  left:0;
  top:80px;
  bottom: 0;
  width: 270px;
  display: flex;
  box-shadow: 2px 5px 15px rgba(240,128,200,0.3);
}
.profile-pictures-div{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.profile-pics{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 20px;

}
.info{
  padding-top: 10px;
  padding-left: 2px;
  flex: 1;
}
.title{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.plus{
  font-size: 25px;
  color:rgb(120,120,120);
}
.categories{
  font-size: 15px;
  margin-bottom: 10px;
  color:rgb(120,120,120);
}
