body{
  height: 3000px;
}
.container{
 position: fixed;
  bottom: 15px;
  right: 10px;
  background-color: #555555;
  width:320px;
  height:180px;
}
.close{
  background-color: black;
  color: white;
  position: absolute;
  top: -18px;
  left: -18px;
  font-family: Arial;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time{
  position: absolute;
  bottom: 10px;
  right: 7px;
  background-color: black;
  color:white;
  padding: 5px 5px;
}
