body{
  background-color: white;
}
.container{
  position: relative;
  margin: 100px 100px;
  width: 200px;
  height: 220px;
}
.image{
  width: 100%;
}
.discount{
  position: absolute;
  background-color: black;
  color: white;
  font-size: 10px;
  top:5px;
  right:0;
  padding: 5px 5px;
}
.white-border-hover{
  display: none;
}
.discount:hover+.white-border-hover{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(255,255,255,0.7) ;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:150px;
}
.add-to-cart-button{
  background-color: white;
  border:2px black solid;
  font-size: 12px;
  padding: 5px 10px;
}
