div{
  width: 400px;
  border-radius: 6px;
  margin: 50px 50px;
  box-shadow: 1px 1px 18px rgba(0,0,0,0.4);
}

.profile-picture{
  padding:10px 10px 10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  object-fit: fill;
  vertical-align: middle;
}
.text-box{
  border: none;
  font-size: 18px;
}
.tweet-button{
  background-color: rgb(29, 155, 240);
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.15s;
  vertical-align: middle;
  padding: 7px 16px;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.tweet-button:active{
  opacity: 0.6;
}
