.google{
  margin-left: 600px;
  width: 800px;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 200px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
}
.icon{
  width: 400px;
}
