p{
  /*lesser priority*/
  font-family: 'sixtyfour', serif;
  margin-top:0;
  margin-bottom:0;
}
.video-title{
  font-weight:bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 14px;
  color: rgb(96,96,96);
}
.creator-name{
  color: rgb(96,96,96);
  font-size: 14px;
  margin-top:20px;
}
.video-description{
  color: rgb(96,96,96);
  font-size: 14px;
  width: 280px;
  margin-top:20px;
  margin-bottom: 100px;
  line-height:22px;
}
.apple-description{
  margin-bottom: 50px;
  font-size:14px;
  background-color: rgb(227,65,64);
  color:white;
  text-align: center;
  padding: 18px 18px;
  transition: underline 0.3s;
}
.shop{
  cursor: pointer;
}

.shop:hover{
  text-decoration: underline;
}
