
body{
  background-color: black;
  font-family: "Playfair Display",sans-serif;
}


.box {
  position: absolute;
  top: 0;
  transform: rotate(80deg);
  left: 0;
  display: flex;
  flex: 1;
}

.wave {
  position: absolute;

  opacity: .4;
  width: 3200px;
  height: 1900px;
  margin-left: 100px;
  margin-top: 210px;
  border-radius: 47%;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
.wave.-one {
  animation: rotate 17000ms infinite linear;
  opacity: .3;
  background: #0af;
}

.wave.-two {
  animation: rotate 13000ms infinite linear;
  opacity: .5;
  background: lightcoral;
}

.wave.-three {
  animation: rotate 17500ms infinite linear;
  background-color: rgba(199,232,150,0.4);
}


.aboutSpaceship{
  color:seashell;
  font-size: 200px;
}

.about{
  display: grid;
  grid-template-columns: 2000px 1fr;
}
.sub{
  color:white;
  padding-top: 5px;
  padding-left: 20px;

}





