

h1 {
  margin-bottom: 3rem;
}

.containerp {
  padding-left: 100px;
  width: 100%;
  max-width: 450px;
  margin: 4rem auto;
  text-align: center;
}

.pie-chart {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: #bdbe6c;
  background-image: linear-gradient(to right, transparent 50%, #bdbe6c 0);
}
.pie-chart::before, .pie-chart::after {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0/50%;
  transform-origin: left;
}
.pie-chart::before {
  background-color:#ab7f47;
  transform: rotate(0.1turn);
}
.pie-chart::after {
  margin-top: -100%;
  background-color: #d99702;
  transform: rotate(0.4turn);
}

.pie-text {
  position: absolute;
  font-weight: bold;
}
.pie-text.text1 {
  color: #d99702;
  left: 0;
  bottom: 50px;
}
.pie-text.text2 {
  color: #ab7f47;
  right: -26px;
  top: 80px;
}
.pie-text.text3 {
  color: #bdbe6c;
  top: -15px;
  left: 106px;
}
